<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027017047895-dbg042hdne6fr10lgnjajc6ko9svpu51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027017047895-dbg042hdne6fr10lgnjajc6ko9svpu51</string>
	<key>API_KEY</key>
	<string>AIzaSyCyHX2HzDrY0irF_TMM5AEmdwPBqLyYwnY</string>
	<key>GCM_SENDER_ID</key>
	<string>1027017047895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sakuraLine</string>
	<key>PROJECT_ID</key>
	<string>sakuline-e284d</string>
	<key>STORAGE_BUCKET</key>
	<string>sakuline-e284d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027017047895:ios:512b907517cdc6ad1a8812</string>
	<key>DATABASE_URL</key>
	<string>https://sakuline-e284d.firebaseio.com</string>
</dict>
</plist>